.guideWindow{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 3px;
    padding:25px;
    cursor:pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25 ease-out;

}

.guideWindow:hover{
    transform: scale(1.05)
}
.guideIMG{
    display:flex;
    justify-content:center;

}